# From https://github.com/github/gitignore/blob/master/Python.gitignore

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

dist/
eggs/
.eggs/

*.egg
*.egg-info/

.ve

# Dev Database Data
postgres_dev_data/