-r requirements.in

selenium>=4.7.2,<4.27
# Changelog: https://github.com/SeleniumHQ/selenium/blob/trunk/py/CHANGES

flake8>=6.0,<6.1

black>=22.12.0,<23
# black changes the format slightly in newer versions
# Stability Policy: https://black.readthedocs.io/en/stable/the_black_code_style/index.html#stability-policy

requests-mock>=1.10.0,<2
# requests-mock stopped updating the changelog after 1.10?
# Changelog: https://requests-mock.readthedocs.io/en/latest/release-notes.html

coveralls==3.3.1,<4
# coveralls package seems to use semantic versioning
# Changelog: https://github.com/TheKevJames/coveralls-python/blob/master/CHANGELOG.md

chromedriver-autoinstaller
# We always want the latest version, to keep up to date with new Chrome versions

django-cors-headers<4.5
# django-cors-headers support for Python 3.8 is dropped in 4.5.0
# See: https://github.com/adamchainz/django-cors-headers/blob/main/CHANGELOG.rst#450-2024-10-12

django-debug-toolbar>=4.3.0,<5
# django-debug-toolbar does sometimes break things in "minor" releases
# Changelog: https://django-debug-toolbar.readthedocs.io/en/latest/changes.html
