{% extends "base.html" %}

{% load humanize %}
{% load prettyjson %}

{% block title %}Dashboard{% endblock %}

{% block content %}

{% if errors %}
<div class="alert alert-warning">
  {% for error in errors %}
  <p>{{error}}</p>
  {% endfor %}
</div>
{% endif %}


<div class="container">
  <div class="row bg-light">
    <div class="col">

      <h3>Info</h3>
      <p>Datastore running at revision <a
          href="https://github.com/ThreeSixtyGiving/datastore/commit/{{git_rev}}">{{git_rev}}</a>.</p>
      <p>Total Grants in the system is approximately {{total_grants|intcomma}} from {{total_datagetter_runs}} Datagetter
        runs.</p>
    </div>
  </div>

  <div class="row bg-light">
    <div class="col">

      <table class="table table-hover">
        <thead>
          <th scope="col">Dataset</th>
          <th scope="col">Updated</th>
          <th scope="col">Grants</th>
          <th scope="col">Source Files</th>
          <th scope="col">Notes</th>
        </thead>
        <tbody>
          <tr>
            <td>Current Latest</td>
            <td>{{latest_current.updated|date:"r"}}</td>
            <td>{{latest_current.grant_set.all.count|intcomma}}
              {% if latest_current.grant_set.all.count > latest_previous.grant_set.all.count %}
              <span class="text-success">&#9650;</span>
              {% elif latest_current.grant_set.all.count < latest_previous.grant_set.all.count %}
              <span class="text-danger">&#9660;</span>
              {% endif %}
            </td>
            <td>{{latest_current.sourcefile_set.all.count|intcomma}}</td>
            <td>
              {% if not latest_current %}No Latest data generated{% endif %}
              <a href="{% url "ui:log" 'data_run' %}">Datarun log</a>,
              <a href="/reports">Data Reports</a>
            </td>
          </tr>

          <tr>
            <td>Previous Latest</td>
            <td>{{latest_previous.updated|date:"r"}}</td>
            <td>{{latest_previous.grant_set.all.count|intcomma}}</td>
            <td>{{latest_previous.sourcefile_set.all.count|intcomma}}</td>
            <td>
              {% if not latest_previous %}No Latest data generated{% endif %}
            </td>
          </tr>

          <tr>
            <td>Datagetter</td>
            <td>{{last_datagetter_run.datetime|date:"r"}}</td>
            <td>{{last_datagetter_run.grant_set.all.count|intcomma}}</td>
            <td>{{last_datagetter_run.sourcefile_set.all.count|intcomma}}</td>
            <td>
              <a href="{% url "ui:explore" %}?getter_run={{last_datagetter_run.id}}">Explore data</a> ,
              <a href="/reports">Data Reports</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="container mt-3">
  <div class="row bg-light">
    <div class="col">
      <h2 class="d-inline-block">Status</h2> <small>(updates every 5 seconds)</small>
      <pre id="checked-time"></pre>

      <div id="status-area" style="height: 100px; overflow: auto;" class="border mb-2 p-1 bg-white">
      </div>
      <button class="btn btn-sm btn-danger" id="run-datagetter-btn">Run Datagetter process</button>
      <button class="btn btn-sm btn-secondary" id="abort-datagetter-btn">Abort Datagetter process</button>
    </div>
  </div>
</div>

<script>
  var getterStatusUrl = "{% url "api:status" %}";
  var triggerDatagetterUrl = "{% url "api:trigger-datagetter" %}";
  var abortDatagetterUrl = "{% url "api:abort-datagetter" %}";
</script>

<script>
  var statusArea = $("#status-area");

  function updateStatus() {
    $("#checked-time").text(new Date().toTimeString());
    // Clear old statues
    statusArea.html("");

    $.getJSON(getterStatusUrl, function (status) {
      for (let items in status.statuses) {
        let whatEl = $("<pre class='d-inline mr-2'></pre>").text(status.statuses[items].what);
        let statusEl = $("<pre class='d-inline'></pre>").text(status.statuses[items].status);

        let container = $("<div></div>");
        container.append(whatEl);
        container.append(statusEl);

        statusArea.append(container);
      }
    }).fail(function(error){
      let errorEl = $("<pre></pre>").text(error.statusText);
      statusArea.append(errorEl);
    });
  }

  $(document).ready(function(){
    updateStatus();

    setInterval(updateStatus, 5000);

    $("#run-datagetter-btn").click(function(){
      $.getJSON(triggerDatagetterUrl, function(data){
        console.log(data);
      });
    });

    $("#abort-datagetter-btn").click(function () {
      if (confirm("Note depending on when in the process this aborts it may require manual intervention to restore a previous state")){
        $.getJSON(abortDatagetterUrl, function(data){
          console.log(data);
        });
      }
    });

  });
</script>
{% endblock %}

