{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="container">
    <p>The 360 Giving Datastore application.</p>
    <p>The Datastore stores data that has been fetched from the 360 giving registry via the datagetter tool. The datastore keeps 31 datasets from the 'datagetting' process in the database in order that queries can be performed on it. The datastore generates grantnav data packages in order to keep grantnav up to date.</p>
    <p><a href="https://github.com/ThreeSixtyGiving/datastore">Datastore project on github</a></p>
</div>
{% endblock %}
