{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="container">
    <p>The 360 Giving Datastore application.</p>
    <p>The Datastore stores data that has been fetched from the 360 giving registry via the datagetter tool. The datastore keeps X datasets from the 'datagetting' process in the database in order that queries can be performed on it. The datastore generates grantnav data packages in order to keep grantnav up to date.</p>
    <p>Please note this is in active development.</p>
    <p><a href="https://github.com/ThreeSixtyGiving/datastore">Datastore project on github</a></p>
</div>
{% endblock %}
